@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Leckerli+One&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2em;
}


.nav-item {
    margin-bottom: 0;
}

.tengah li {
    margin: 0 50px;
}

.active img {
    height: 510px;
    max-height: 510px !important;
}

.carousel-inner:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 35px;
    background: linear-gradient(rgba(255, 251, 251, 0), rgba(37, 37, 37, 0.925));
}

.carousel-item {
    height: 525px;
    max-height: 525px !important;
    background: #343a40;
    bottom: 20px;
}

.caption {
    text-align: left;
    font-family: 'Leckerli One', cursive;
}

.caption h1 {
    font-size: 2em;
    letter-spacing: 3px !important;
}

.carousel-caption h1 {
    text-transform: uppercase;
    letter-spacing: 7px;
}

main {
    background: rgb(227, 245, 245);
    height: 100%;
    padding-bottom: 5%;
}

.features {
    background: inherit;
}

.white {
    margin-bottom: 20px;
}

#white {
    text-align: left;
    color: #353535;
}

#white h2 {
    font-family: 'Leckerli One', cursive;
}

.card {
    top: 20px;
    background: inherit;
    box-shadow: 3px 5px #888888;
}

.card h5 {
    font-weight: bold;
}

li {
margin-bottom: 50px;
}

.media img {
    widows: 180px;
    height: 130px;
}

  
.row {
width:100%;
max-width:970px;
margin:0 auto;
position:relative;
padding:0 2%;
text-align: center;
}

a {
text-decoration:none;
}

#hoby {
background-color: #f8f8f8;
padding-top: 80px;
padding-bottom: 80px;
}

#hoby img {
width: auto;
height: 50px;
}

#hoby h5 {
color: #616161;
margin-top: 25px
}

#hoby p {
color: #727272;
font-size: 0.9em;
}

.button-sm {
line-height:15px!important;
}

#contact {
background-color: #353535;
padding-top: 30px;
padding-bottom: 30px;
text-align: center;
}

#contact h3 {
color: #dfdfdf;
margin-bottom: 15px;
}

#contact p {
color: #8f8f8f;
font-size: 1.3em;
margin-bottom: 13px;
}

#contact img {
width: auto;
height: 9px;
}

#contact address {
color: #b9b9b9;
text-transform: capitalize;
}

#contact span {
padding-left: 40px;
}

.social-links img {
width: auto!important;
height: 30px!important;
margin: 1px;
}

footer {
background-color: #343a40;
padding-top: 30px;
padding-bottom: 20px;
text-align: center;
font-size: 12px;
}

footer p {
color: #ababab;
text-transform: capitalize;
}
  